.col-md-12.col-sm-12.col-xs-12.step3-add-button
  .col-md-3.col-sm-3.col-xs-3.pull-left    
    %input.form-control{:placeholder => "The answer", :required => "", :type => "text", :value => ""}/
  .col-md-2
    .btn.btn-xs.btn-round.btn-danger.step3-button-remove
      %i.fa.fa-close
    .btn.btn-xs.btn-round.btn-warning.step3-button-edit
      %i.fa.fa-edit