
.row
  %h1{:style=>"margin-left:10px"}
    New campaign
  .col-md-12.col-sm-12.col-xs-12
    .x_panel
      .x_title
        %h2{:style=>"width: 500px;"}
          Customer match of the following:
          %small 
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        %select.form-control{:placeholder => "Category", :required => "", :type => "text", :value => "Condiction", :style => "width: 180px; float:left; margin-right:10px"}
          %option{value: 'food'} Condition
          %option{value: 'food'} First engage with page
          %option{value: 'food'} Last order
        %select.form-control{:placeholder => "Category", :required => "", :type => "text", :value => "Condiction", :style => "width: 140px; float:left; margin-right:10px"}
          %option{value: 'food'} was more than
          %option{value: 'food'} was less than

        %select.form-control{:placeholder => "Category", :required => "", :type => "text", :value => "Condiction", :style => "width: 40px;  float:left; margin-right:10px"}
          %option{value: 'food'} 1
          %option{value: 'food'} 2
          %option{value: 'food'} 3
          %option{value: 'food'} 4
          %option{value: 'food'} 5
          %option{value: 'food'} 6
          %option{value: 'food'} 7

        %select.form-control{:placeholder => "Category", :required => "", :type => "text", :value => "Condiction", :style => "width: 80px;  float:left; margin-right:10px"}
          %option{value: 'food'} hours
          %option{value: 'food'} days
          %option{value: 'food'} weeks
          %option{value: 'food'} months

        %button.btn.btn-default.source ago
        %hr
        = link_to 'Filter', '#', class: 'btn btn-primary btn-notification-filter', style: 'width:80px; margin-left:10px;'

  .col-md-12.col-sm-12.col-xs-12.table-notification-users{:style=>"display:none"}
    .x_panel
      .x_title
        %h2{:style=>"width: 500px;"}
          3 people will get this notification
          %small 
        %ul.nav.navbar-right.panel_toolbox
          %li
            %a.collapse-link
              %i.fa.fa-chevron-up
          %li.dropdown
            %a.dropdown-toggle{"aria-expanded" => "false", "data-toggle" => "dropdown", :href => "#", :role => "button"}
              %i.fa.fa-wrench
            %ul.dropdown-menu{:role => "menu"}
              %li
                %a{:href => "#"} Settings 1
              %li
                %a{:href => "#"} Settings 2
          %li
            %a.close-link
              %i.fa.fa-close
        .clearfix
      .x_content
        %table.table
          %thead
            %tr
              %th #
              %th Name
              %th Phone
              %th Email
              %th Last active
          %tbody
            %tr
              %th{:scope => "row"} 1
              %td Hai Ta
              %td 0934534234
              %td phuochai@kitfe.com
              %td 23-04-2016
            %tr
              %th{:scope => "row"} 2
              %td Khang Nguyen
              %td 3239342342
              %td khang@gmail.com
              %td 23-04-2016
            %tr
              %th{:scope => "row"} 3
              %td Nguyen Dinh Van
              %td 09343243
              %td 
              %td 23-04-2016

  = link_to 'Create', '/notifications', class: 'btn btn-primary', style: 'width:120px; margin-left:10px;'