.row.conversation
  .col-md-8.col-sm-8.col-xs-8
    %h3= @page_title.to_s
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user start a conversation
      - @template_food = @template[:template_food]
      = render 'bot_welcome_area', template: @template_food[:wellcome_area]

<<<<<<< HEAD

      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6.pull-right
          %p.text-right
            %b Bot's reply
          .tile-stats
            %textarea.textarea#welcome_message.form-control{onkeyup: "textAreaAdjust(this)"}
              Chào bạn, Mình là đầu bếp ảo KitFe. Mình xin phép được tư vấn cho bạn về menu và cách đặt hàng hôm nay. Chọn “Xem thực đơn” để được hỗ trợ bởi mình và “Tư vấn viên” trong trường hợp bạn cần gặp đội ngũ chăm sóc khách hàng.
        .bot_welcome_area

        .col-md-12.col-sm-12.col-xs-12
          .col-md-3.col-sm-3.col-xs-3.pull-right
            %button.btn.btn-block.btn-default.add_button_welcome Add button
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-primary.btn-action Kitfe là gì
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user select "Kitfe là gì"
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6.pull-right
          %p.text-right
            %b Bot's reply
          .tile-stats
            %textarea.textarea.form-control{onkeyup: "textAreaAdjust(this)"}
              KitFe là một cách trải nghiệm ẩm thực đầy mới mẻ. Tận hưởng đồ ăn thức uống ngon lành, bổ dưỡng được chế biến tinh tế bởi những đầu bếp được lựa chọn kỹ từ KitFe. Hiện tại KitFe giao hàng trong các quận tại Hà Nội.
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-default Add button

      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6.pull-right

          %p.text-right
            %b Bot's reply
          .tile-stats
            %textarea.textarea#welcome_message.form-control{onkeyup: "textAreaAdjust(this)"}
              Bạn có muốn xem thực đơn hôm nay ?
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-primary.btn-action Có
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-primary.btn-action Không
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-default Add button
      .col-md-12.col-sm-12.col-xs-12
        .col-md-4.col-sm-4.col-xs-4.pull-right
          %button.btn.btn-block.btn-default Add another message

      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user select "Xem thực đơn"
            
  .col-md-3.facebook_chat_box{:style=> "margin-right:5px;"}
=======
  .col-md-3.col-sm-3.col-xs-3.facebook_chat_box
>>>>>>> 14404ae91cf46e7f9dd5ed7e56245e0c860083c5
    .facebook_title
      %p{style:'margin-bottom: 0px;'}
        %b Kitfe - Kitchen For Everyone
        %span.pull-right
          %i.fa.fa-gear
          %i.fa.fa-close
      %span{style: 'font-size: 10px;'} Typically replies within an hour/
    .box
      .bot
        .col-md-2
          %img{src: "https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpt1/v/t1.0-1/p32x32/12227640_182415272101883_3826564890607483686_n.png?oh=d7fbfa5d85e2ac23a939e2bba0c6000e&oe=57ACBA06&__gda__=1472168798_d2c8910be8030e76fbf9c0a59e9bf56a"}
        .col-md-9.msg
          %p
            Chào bạn, Mình là đầu bếp ảo KitFe. Mình xin phép được tư vấn cho bạn về menu và cách đặt hàng hôm nay. Chọn “Xem thực đơn” để được hỗ trợ bởi mình và “Tư vấn viên” trong trường hợp bạn cần gặp đội ngũ chăm sóc khách hàng.
          %hr
          %ul.fb_menu
            %li.text-center
              %a{href: '#'} KitFe là gì
            %li.text-center
              %a{href: '#'} Xem thực đơn
            %li.text-center
              %a{href: '#'} Gặp tư vấn
        .col-md-2
        .col-md-9.msg
          %p
            KitFe là một cách trải nghiệm ẩm thực đầy mới mẻ. Tận hưởng đồ ăn thức uống ngon lành, bổ dưỡng được chế biến tinh tế bởi những đầu bếp được lựa chọn kỹ từ KitFe. Hiện tại KitFe giao hàng trong các quận tại Hà Nội.

        .col-md-2
        .col-md-9.msg
          %p
            Bạn có muốn xem thực đơn hôm nay không?
          %hr
          %ul.fb_menu
            %li.text-center
              %a{href: '#'} Có
            %li.text-center
              %a{href: '#'} Không

        .col-md-2
        .col-md-9.msg
          %p
            Bạn đang ở quận nào
          %hr
          %ul.fb_menu
            %li.text-center
              %a{href: '#'} Hai Bà Trưng

        .col-md-2
        .col-md-9.msg
          %p
            Bạn muốn ăn cơm với gì?
          %hr
          %ul.fb_menu
            %li.text-center
              %a{href: '#'} Với thịt bò
            %li.text-center
              %a{href: '#'} Với thịt gà
            %li.text-center
              %a{href: '#'} Khác

        .col-md-2
        .col-md-9.msg
          %p
            Một số lựa chọn khác
          %hr
          %ul.fb_menu
            %li.text-center
              %a{href: '#'} Với thịt lợn
            %li.text-center
              %a{href: '#'} Với thịt cá

        .col-md-2
        .col-md-9.msg
          %p{style: 'margin-bottom: 0px;'}
            %img.fb_image{src: 'http://image.kitfe.com/production/foods/2016/03/78_large_1459346800.jpg?1459346800'}
          %p{style: 'margin-bottom: 0px;'}
            %strong  Cơm đùi gà
          %span 55000 VND


      .user