.row.conversation
  .col-md-8.col-sm-8.col-xs-8
    %h3= @page_title.to_s
    .row
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user start a conversation


      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6.pull-right

          %p.text-right
            %b Bot's reply
          .tile-stats
            %textarea.textarea#welcome_message.form-control{onkeyup: "textAreaAdjust(this)", disabled: true}
              Chào bạn, Mình là đầu bếp ảo KitFe. Mình xin phép được tư vấn cho bạn về menu và cách đặt hàng hôm nay. Chọn “Xem thực đơn” để được hỗ trợ bởi mình và “Tư vấn viên” trong trường hợp bạn cần gặp đội ngũ chăm sóc khách hàng.
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-primary.btn-action Kitfe là gì
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user select "Kitfe là gì"
      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6.pull-right
          %p.text-right
            %b Bot's reply
          .tile-stats
            %textarea.textarea.form-control{onkeyup: "textAreaAdjust(this)", disabled: true}
              KitFe là một cách trải nghiệm ẩm thực đầy mới mẻ. Tận hưởng đồ ăn thức uống ngon lành, bổ dưỡng được chế biến tinh tế bởi những đầu bếp được lựa chọn kỹ từ KitFe. Hiện tại KitFe giao hàng trong các quận tại Hà Nội.
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-default Add button

      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6.pull-right

          %p.text-right
            %b Bot's reply
          .tile-stats
            %textarea.textarea#welcome_message.form-control{onkeyup: "textAreaAdjust(this)", disabled: true}
              Bạn có muốn xem thực đơn hôm nay ?
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-primary.btn-action Có
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-primary.btn-action Không
      .col-md-12.col-sm-12.col-xs-12
        .col-md-3.col-sm-3.col-xs-3.pull-right
          %button.btn.btn-block.btn-default Add button
      .col-md-12.col-sm-12.col-xs-12
        .col-md-4.col-sm-4.col-xs-4.pull-right
          %button.btn.btn-block.btn-default Add another message

      .col-md-12.col-sm-12.col-xs-12
        .col-md-6.col-sm-6.col-xs-6
          %p.alert.alert-info
            %b When user select "Xem thực đơn"

  .col-md-4.col-sm-4.col-xs-4.facebook_chat_box
    .facebook_title
      %p{style:'margin-bottom: 0px;'}
        %b Kitfe - Kitchen For Everyone
        %span.pull-right
          %i.fa.fa-gear
          %i.fa.fa-close
      %span{style: 'font-size: 10px;'} Typically replies within an hour



    %br/
    %br/
    %br/
    %ul
    - @products.each do |product|
      %li= link_to product.title, "https://#{@shop_session.url}/admin/products/#{product.id}", target: "_top"
