%div
  %a#toregister.hiddenanchor
  %a#tologin.hiddenanchor
  #wrapper
    #login.animate.form
      %section.login_content
        %form
          %h1 Start selling today
          %div
            IAMBOT.xyz is a messenger automation platform  to turn your business to DIAMOND
          %div
            = link_to 'Start your free trial', '/login?shop=kshop-11.myshopify.com', class: 'btn btn-primary'

