%div
  %a#toregister.hiddenanchor
  %a#tologin.hiddenanchor
  #wrapper
    #login.animate.form
      %section.login_content
        %form
          %h1 Start selling today
          %div
            IAMBOT.xyz is a messenger automation platform  to turn your business to DIAMOND
          %div
            = link_to 'Login with Facebook', '/welcome/step1', class: 'btn btn-primary'  
        / form
      / content